header {
  background-color: rgb(248, 176, 20);
}
header .nav-mio {
  background-color: rgb(248, 176, 20);
  font-family: "Signika", sans-serif;
}
header ul.dropdown-menu {
  background-color: rgb 255, 255, 255;
}
header ul.dropdown-menu:hover {
  background-color: #f7b524;
}
header .nav .open > a,
header .nav .open > a:focus,
header .nav .open > a:hover {
  background-color: #fecb00;
}
header .dropdown-item.active,
header .dropdown-item:active {
  background-color: black;
}

.texto {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(248, 176, 20);
  font-family: "Signika", sans-serif;
}

.estilo {
  text-align: center;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Signika", sans-serif;
  background-color: rgb(255, 183, 0);
  color: black;
}

.ofertas {
  text-align: justify;
  font-family: "Signika", sans-serif;
  font-size: 25px;
  line-height: 2em;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .ofertas {
    font-size: 15px;
    line-height: 1.5em;
    padding: 10px;
    text-align: center;
  }
}

.acomodar-1 {
  display: flex;
  justify-content: center;
  font-family: "Signika", sans-serif;
}
@media screen and (max-width: 600px) {
  .acomodar-1 {
    margin: 30px;
  }
}

.acomodar {
  padding: 20px;
}

footer {
  background-color: rgb(248, 176, 20);
  padding: 30px;
  font-family: "Signika", sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 200px;
  padding: 20px;
}

.prueba {
  display: flex;
  justify-content: center;
}

.pago {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

ul {
  list-style: none;
  text-align: center;
}
ul li a {
  text-decoration: none;
}

.mapa {
  display: block;
  margin: 0 auto;
  width: 900px;
  height: 400px;
  border-radius: 20px;
  padding: 20px;
}
@media screen and (max-width: 570px) {
  .mapa .mapa {
    overflow: auto;
    width: 100%;
    height: 100%;
  }
}

.preguntas {
  font-family: "Signika", sans-serif;
  color: rgb(255, 183, 0);
  font-size: 30px;
}

.respuesta {
  font-family: "Signika", sans-serif;
  font-size: 20px;
  color: black;
}

@media screen and (max-width: 570px) {
  .mapa2 {
    overflow: auto;
    width: 100%;
    height: 100%;
  }
}

.card {
  border-width: 0;
  background-color: white;
  color: black;
  border-radius: 20px;
}

.card-title, h5 {
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.boton-mio {
  background-color: rgb(249, 175, 17);
  color: white;
  padding: 6px;
  display: flex;
  justify-content: center;
  font-family: "Signika", sans-serif;
}

.btn {
  border-color: black;
}

.centro {
  text-align: center;
  font-family: "Signika", sans-serif;
}

.size {
  width: auto;
  height: auto;
}
@media screen and (max-width: 570px) {
  .size {
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px;
    margin: 30px;
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
