$colores: 
#f7b524,
#fecb00,
black,
white;

$padding:
6px,
10px,
15px,
30px;

$margin:
10px,
30px,
0 auto;

$font-size:
15px,
20px,
25px,
30px,
100px,
2em;

$width:
auto,
80%,
85%,
900px,
500px;

$height:
60&,
400px,
200px;


