@mixin responsive-map{
   @media screen and (max-width: 570px) {
    width: 80%;
    height: 60%;
}
}

@mixin responsive-ofertas {
    @media screen and (max-width: 768px) {
      font-size: 15px;
      line-height: 1.5em;
      padding: 10px;
      text-align: center;
    }
  }
