$hd-c: rgb(248, 176, 20);
$hd-drop: rgb (255, 255, 255);
$yellow-0: rgb(255, 183, 0);
$yellow-1: rgb(249, 175, 17);
$ft: "Signika", sans-serif;
$padd: 20px;
$border-r: 20px;
$estilo-listas: none;
$textos-centrados: center;
$deco-listas: none;

